.tooltip-custom {
    position: relative;
    display: inline-block;
}

.tooltip-custom .tooltip-text  {
    visibility: hidden;
    width: 200px;
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 70%; /* Posición del tooltip */
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}


.tooltip-custom .tooltip-text::after   {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip-custom.invalid .tooltip-text  {
    visibility: visible;
    opacity: 1;
}